body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    color: #212121;
    width: 1600px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

ul {
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.address-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
}


                                                  /* header */

.header {
    padding: 0px;
    height: 80px;
    border: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
}

.link-header {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.link-header:hover {
    color: #2196F3;
}

.link-item {
    display: block;
}

.list-item:not(:last-child) {
    margin-right: 55px;
}

.logo-header {
    color:#000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.list-position {
    padding: 0px;
    margin: 0px;    
}

.address-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    weight: 307px;
}

.contact-header:first-child {
    margin-right: 50px;
}

.logo-color {
    color: #2196F3;
}

.contact-header {
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
}

.contact-header:hover {
    color: #2196F3;
}

                                                /* main-section */

.main-section {
    height: 600px;
    padding: 200px 0px;
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url("../images/main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-container {
    padding: 0px 237px;
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 0px 30px 0px;
}

.main-section-button {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);    
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border: none;
}

.modal-form-wrap {
    position: relative;
    width: 528px;
    height: 581px;
    border: 1px solid #188CE8;
    padding: 40px;
}

.modal-close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.modal-close-button:hover .modal-close-icon {
    fill: #2196F3;
}

.modal-close-icon {
    width: 18px;
    height: 18px;
}

.modal-position-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 11px;
    left: 12px;
    
}

.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal-form-label {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form-input {
    margin-top: 10px;
    height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-form-input:hover {
    border-color: #2196F3;
}

.modal-form-checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form-checkbox-link {
    color: #2196F3;
    text-decoration: underline;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal-button {
    position: absolute;
}

.modal-form-text-area {
    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 448px;
    height: 120px;
}

.modal-form-button {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);    
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border: none;
}

                                            /* technologies-section */

.technologies-section {
    padding: 94px 0px;
    height: 439px;
}

.technologies-section-list {
    justify-content: space-between;
    height: 251px;
}

.technologies-section-item {
    width: 270px;
    height: 101px;
    text-align: left;
    vertical-align: top;
}

.technologies-section-item::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.technologies-section-item:nth-child(1)::before {
    content: '';
    background-image: url(../images/antenna.svg);
}

.technologies-section-item:nth-child(2)::before {
    content: '';
    background-image: url(../images/clock.svg);
}

.technologies-section-item:nth-child(3)::before {
    content: '';
    background-image: url(../images/diagram.svg);
}

.technologies-section-item:nth-child(4)::before {
    content: '';
    background-image: url(../images/astronaut.svg);
}

.technologies-section-title {
    font-weight: 700;
    font-size: 14px;    
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
}

.technologies-section-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px;

}
                                          /* ourjob-section */

.ourjob-section {
    padding-bottom: 94px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px 0px 50px 0px;
}

.ourjob-section-list {
    justify-content: space-between;
}

.ourjob-section-item {
    width: 370px;
    height: 294px;
    position: relative;
}

.ourjob-section-image {
    width: 370px;
    height: 294px;
}

.ourjob-section-wrap {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    padding-top: 27px;
}

.ourjob-section-title {
    color: #FFFFFF;
    text-align: center;
    margin: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

                                     /* ourteam-section */

.ourteam-section {
    background-color: #F5F4FA;
    padding: 94px 0px;
}

.ourteam-section-photo {
    width: 270px;
    height: 260px;
    display: block; 
}

.ourteam-section-list {
    justify-content: space-between;
}

.ourteam-section-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
    width: 270px;
    height: 428px;
}

.ourteam-section-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
}

.ourteam-section-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.ourteam-icon-list {
    display: flex;
    justify-content: space-evenly;
}

.ourteam-icon {
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    padding: 12px;
    border-radius: 50%;
    overflow: visible;
}

.ourteam-icon:hover {
    fill: #FFFFFF;
    background-color: #2196F3;
}
                                        /* partner-section */
.partner-section {
    padding: 94px 0px;
}

.partner-item {
    height: 90px;
    width: 170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-item:hover {
    color: #2196F3;
    border-color: #2196F3;
}

.partner-item:hover svg {
    fill: #2196F3;
}

.partner-item:not(:last-child) {
    margin-right: 30px;
}

.partner-link {
    color: #AFB1B8;
}

.partner-icon {
    width: 106px;
    height: 60px; 
    fill: currentColor;
}

                                        /* footer */

footer {
    background-color: #2F303A;
    padding: 72px 0px 60px 0px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-right: 663px;
}

.icon-footer-wrap {
    width: 218px;
    height: 80px;
}

.logo-footer {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin: 0px 0px 20px 0px;
}

.address-footer {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
    margin-top: 20px;
    font-style: normal;
}

.contact-footer {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: block;
}

.join-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.icon-footer {
    width: 44px;
    height: 44px;
    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 12px;
    overflow: visible;
}

.icon-footer:not(:last-child) {
    margin-right: 10px;
}

.icon-footer:hover {
    fill: #FFFFFF;
    background-color: #2196F3;
}

                                                    /* PORTFOLIO page*/

.portfolio-main {
    padding: 94px 215px;
}

                                                /* portfolio-menu */

.portfolio-menu {
    padding-bottom: 34px;   
}

 .portfolio-menu-list {
    width: 611px;
    height: 54px;
    margin: 0px auto;
    justify-content: space-between;
}

.portfolio-menu-button {
    height: 38px;
    background-color: #F5F4FA;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    padding: 6px 22px;
}

.portfolio-menu-button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

                                                /* portfolio-list */

.portfolio-list {
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    display: block;
    width: 370px;
    height: 404px;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
}

.portfolio-img {
    width: 370px;
    height: 294px;
    display: block;
}

.portfolio-text-wrap {
    padding: 20px 24px;
    width: 370px;
    height: 110px;
    text-align: left;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0px 0px 4px 0px;
}

.portfolio-info {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

