.header {
    padding: 0px;
    height: 80px;
    border: 1px solid #ECECEC;
    position: fixed;
    width: 100%;
    background-color: $base-color;
    z-index: 1;

&__icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
}

&__link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;

    &:hover {
        color: $main-color;
        padding-bottom: 28px;
        transition-duration: 500ms;
        transition-delay: 250ms;
    }

    &::after {
        position: absolute;
        content: "";
        background-color: $main-color;
        width: 100%;
        height: 4px;
        display: block;
        left: 0%;
        bottom: -30px;
        opacity: 0;
        transform: scale(0);
        transition: opacity 0,25s cubic-bezier(0.19, 1, 0.22, 1) 500ms, transform 0,25s cubic-bezier(0.19, 1, 0.22, 1) 500ms;
    }

    &:hover::after {
        opacity: 1;
        transform: scale(1);
        transition-duration: 500ms;
        transition-delay: 250ms;
    }
}

&__item {
    display: block;
    position: relative;

    &:not(:last-child) {
        margin-right: 55px;
    }
}

&__logo {
    color:#000000;
    font-family: $second-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

&__list {
    padding: 0px;
    margin: 0px;    
}

&__address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    weight: 307px;
}

&__logo-color {
    color: $main-color;
}

&__contact {
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
    
    &:hover {
        color: $main-color;
        transition-duration: 500ms;
        transition-delay: 250ms;
    }

    &:first-child {
        margin-right: 50px;
    }
}
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
}