.ourjob-section {
    padding-bottom: 94px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px 0px 50px 0px;
}

.ourjob-section__list {
    justify-content: space-between;
}

.ourjob-section__item {
    width: 370px;
    height: 294px;
    position: relative;
}

.ourjob-section__image {
    width: 370px;
    height: 294px;
}

.ourjob-section__wrap {
    display: flex;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.ourjob-section__title {
    color: $base-color;
    margin: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

                                     /* ourteam-section */

.ourteam-section {
    background-color: #F5F4FA;
    padding: 94px 0px;
}

.ourteam-section__photo {
    width: 270px;
    height: 260px;
    display: block; 
}

.ourteam-section__list {
    justify-content: space-between;
}

.ourteam-section__item {
    background-color: $base-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
    width: 270px;
    height: 428px;
}

.ourteam-section__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
}

.ourteam-section__job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.ourteam-section__icon__list {
    display: flex;
    justify-content: space-evenly;
}

.ourteam-section__icon {
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    padding: 12px;
    border-radius: 50%;
    overflow: visible;
}

.ourteam-section__icon:hover {
    fill: $base-color;
    background-color: $main-color;
    transition-duration: 500ms;
    transition-delay: 250ms;
}