.partner-section {
    padding: 94px 0px;

    &__item {
        height: 90px;
        width: 170px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $main-color;
            border-color: $main-color;
            transition-duration: 500ms;
            transition-delay: 250ms;
        }
        
        &:hover svg {
            fill: $main-color;
            transition-duration: 500ms;
            transition-delay: 250ms;
        }
        
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
    &__link {
        color: #AFB1B8;
    }
    
    &__icon {
        width: 106px;
        height: 60px; 
        fill: currentColor;
    }
}

